body {
    background-image: url("/static/assets/background_light.png");
}

img#home-button {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100px;
    height: 100px;
}

div#game-selector {
    top: 0px;
    left:50%;
    position: absolute;
    transform: translateX(-50%);

    overflow: auto;
    white-space: nowrap;
    display: inline-block;
}

div#game-controls {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10%;
}

div#left-controls {
    padding-right: 30px;
    margin-left: auto;
}

div#right-controls {
    padding-top: 30px;
    padding-left: 30px;
    margin-right: auto;
}

div#draw-container {
    background-color: white;
    aspect-ratio: 1 / 1;
}

canvas#draw {
    border: 5px solid #000000;
    width: 100%;
    height: 100%;
    touch-action: none;
}

canvas#preview {
    border: 5px solid #000000;
    width: 100%;
    aspect-ratio: 1 / 1;
    touch-action: none;
}

div#confidence-chart {
    margin: auto;
}

div#confidence-bar {
    width: 50%;
    height: 5vw;
    min-height: 24px;
    background-color: #eaeaea;
    border: 1vw solid #fff;
    border-radius: 5vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

div#left-confidence {
    height: 100%;
    float: left;
    background: #1A5EFA;
    transition: 0.5s ease;
}

div#right-confidence-underneath {
    height: 100%;
    width: 100%;
    background: #F01A27;
}

div.confidence-tick {
    width: 5px;
    background-color: black;
    position:absolute;
    z-index: 10;
    translate: translateX(-50%);
}

p#left-confidence-label {
    position: absolute;
    left: 2%;
    top: 20%;
    margin: auto;
    text-shadow: 0 0 5px white;
}

p#right-confidence-label {
    position: absolute;
    right: 2%;
    top: 20%;
    margin: auto;
    text-shadow: 0 0 5px white;
}

div#distance-bar {
    width: 3vw;
    height: 450px;
    background-color: #eaeaea;
    border: 1vw solid #fff;
    border-radius: 5vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
}

div#distance-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(#303030, #000000);
    transition: 0.1s ease;
}

p#turns-left-indicator {
    font-size: 40px
}

p#player-turn-indicator {
    font-size: 30px
}
