# dev environment
.vscode/
.DS_Store

# dataset files
*.ndjson

# environment
env/

# competitive drawing environment secrets
.env

# python
*.pyc
__pycache__
*.egg-info

# flask
build/

# research/ training folders
research/
wandb/
