<!-- single_player.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Competitive Drawing</title>
        <!-- TODO meta property="og:image" content="mycustomimage.png"-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/flavicons/favicon.ico') }}">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    </head>
    <body>
        <a href="/">
            <img id="home-button" src="static/assets/logo.png" alt="Competitive Drawing">
        </a>
        {% include "components/game-container.html" %}
    </body>

    {% include "components/third-party-scripts.html" %}
    <script type="text/javascript">
        gameConfig = {{ game_config | tojson }}
    </script>
    <script type="module" src="{{url_for('static', filename='scripts/single_player.js')}}"></script>
</html>
