<div id="game-selector">
    <a href="/tutorial">
        <button id="tutorialButton">Tutorial</button>
    </a>
    <!--a>
        <button disabled id="freeDrawButton">Free Draw (disabled)</button>
    </a-->
    <a href="/local">
        <button id="localGameButton">
            Local Game
        </button>
    </a>
    <a href="/single_player">
        <button id="singlePlayerButton">
            Play Against AI <img src="static/assets/experimental.png" style="height: 20px; vertical-align: sub; filter: invert(100%);">
        </button>
    </a>
    <a href="/online">
        <button id="onlineButton">
            Online Multiplayer
        </button>
    </a>
</div>
