<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Competitive Drawing</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    </head>
    <body>
        <canvas id="draw" width="500%" height="500%">
            Update your browser to support HTML5 Canvas
        </canvas>

        <script type="text/javascript">
            inferenceUrl = {{ inference_url | tojson }}
        </script>
        <script type="text/javascript" src="{{url_for('static', filename='scripts/base.js')}}"></script>
    </body>
</html>
