body {
  background-image: url("/static/assets/background_white.png");
}

canvas#draw {
    border: 5px solid #000000;
    width: 30%;
    aspect-ratio: 1 / 1;
}

canvas#preview {
    border: 5px solid #000000;
    width: 10%;
    aspect-ratio: 1 / 1;
}

div#confidenceChart {
    float: right;
}
